<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- 加载外部资源配置文件 -->
	<context:property-placeholder location="classpath:properties/*.properties" />

	<!-- 扫描Service -->
	<context:component-scan base-package="com.atsz.front.service"/>

	<!-- 配置httpclient连接池 -->
	<bean id="connectionManager"
		class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
		<property name="maxTotal" value="200" />
		<property name="defaultMaxPerRoute" value="20" />
	</bean>

	<!-- 配置httpclientbuilder工厂::多实例 -->
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" scope="prototype">
		<property name="connectionManager" ref="connectionManager" />
	</bean>

	<!-- 创建requestConfigBuilder对象 -->
	<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
		<!-- 创建连接的最长时间 -->
		<property name="connectTimeout" value="${httpclient.connectTimeout}" />
		<!-- 从连接池中获取到连接的最长时间 -->
		<property name="connectionRequestTimeout" value="${httpclient.connectionRequestTimeout}" />
		<!-- 数据传输的最长时间 -->
		<property name="socketTimeout" value="${httpclient.socketTimeout}" />
		<!-- 提交请求前测试连接是否可用 -->
		<property name="staleConnectionCheckEnabled" value="${httpclient.staleConnectionCheckEnabled}" />
	</bean>

	<!-- 使用requestConfigBuilder对象的工厂方法创建 requestConfig对象 -->
	<!-- 配置httpclient -->
	<bean id="httpclient" class="org.apache.http.impl.client.CloseableHttpClient"
		factory-bean="httpClientBuilder" factory-method="build" scope="prototype"></bean>
		
	<!-- 请求参数配置信息 -->
	<bean id="requestConfig" class="org.apache.http.client.config.RequestConfig"
		factory-bean="requestConfigBuilder" factory-method="build"></bean>

	<!-- 使用线程清理无效连接 -->
	<bean id="idleConnectionEvictor" class="com.atsz.front.httpclient.IdleConnectionEvictor" destroy-method="shutdown">
		<constructor-arg index="0" ref="connectionManager"/>
	</bean>
	
</beans>
